 <div class="modal-wrapper">
     <p class="modal-close">Close</p>
     <h2>Inactive feature</h2>
     <p>This link or feature is not available for testing purposes.</p>
 </div>
 <div class="modal-background"></div>


 <header id="myBusinessheader">
     <div class="bga-link-wrapper">
      <div class="c-wrapper container-fluid">
         <div class="bga-link">
            <div class="row">
                <div class="col-12">
                    
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16">
                            <path id="Path_3598" data-name="Path 3598" d="M115.972,22,122,28.018,120.014,30,112,22l8.014-8L122,15.982Z" transform="translate(-112 -14)" fill="#fff" fill-rule="evenodd" />
                            </svg>
                    <a href={{ "index.html" | relative_url }}><strong>business</strong>.gov.au</a></div> 
            </div>
         </div>
         </div>
     </div>
          
     <div class="login-strap-wrapper">
     <div class="c-wrapper container-fluid">
         <div id="login-strap">

             <div class="row">
                 <div class="col-12 col-md-6">
                     <div class="mybusiness-logo">
                         
                         <img src={{ "assets/gov_crest.svg" | relative_url }}  alt="Australian government crest"/>
                         <div class="site-name"><p>MyBusiness</p></div>
                     </div>
                 
                 </div>
                 
                 <div class="col-12 col-md-6">
                    <div class="myGovId-login">
                        <a href="mygovid-landing.html"><span>Log in</span>
                        
                        <img src={{ "assets/myGovID_mock.svg" | relative_url }} alt="mygovid logo"/>
                            </a>
                    </div>
                 </div>
             </div>
         </div>

     </div>
     </div>
     
     <div class="banner-wrapper">
     
     <div class="c-wrapper container-fluid">
         <div class="row">
         <div class="col-12 col-md-6 col-lg-7">
             <h1>We deliver support and services for business</h1>
             </div>
         </div>
         <div class="row">
         <div class="col-12 col-md-12 col-lg-7">
             <div id="popup-2" class="search-wrapper popup-wrapper">
                <input class="header-search">
                <button class="header-search-button">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" viewBox="0 0 36 36">
                        <path id="Search" d="M31.575,36l0,0-8.509-8.509.737-.737-3.07-3.07A13.075,13.075,0,0,1,0,13.078a13.074,13.074,0,1,1,23.68,7.655l3.07,3.07.737-.737L36,31.577,31.577,36ZM13.076,4.169a8.909,8.909,0,1,0,6.3,2.61A8.853,8.853,0,0,0,13.076,4.169Z" fill="#fff" />
                    </svg>
                </button>
                        
                 <p class="popup-i">i</p><p class="popup-explanation">Search will primarily return information from business.gov.au and myBusiness but will be able to pull information from other government sites as relevant.</p>

                </div>
             </div>
         </div>
         
         <div class="row">
         <div class="col-12">
             <div id="popup-1" class="recommended-wrapper popup-wrapper">
             <h2>Recommended for you</h2>
             <ul>
                <li>Starting a business</li>
                 <li>Register ABN</li>
                 <li>Protect your idea</li>
             </ul>
                 <p class="popup-i">i</p><p class="popup-explanation">Suggestions could be personalised in the future to provide a tailored experience.</p>
             </div>
             </div>
             
         </div>
         
         </div>
         
     </div>
     
 </header>