<footer id="myBusinessfooter">

 <div class="c-wrapper container-fluid">
            <div class="row">
                <div class="footer-bottom-left col-sm-12 col-lr-8">
                    <img src={{ "assets/gov_crest_white.svg" | relative_url }}>
                    <p>We acknowledge the traditional owners of the country throughout Australia and their continuing connection to land, sea and community. We pay our respect to them and their cultures and to the elders past and present.</p>
                    <p>© Commonwealth of Australia.</p>
                </div>
            </div>
        </div>
 
</footer>

